//New breakpoints for container
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 1024px) {
  .container {
    padding: 0 15px;
    max-width: 960px;
  }
}
@media (min-width: 1410px) {
  .container {
    max-width: 1200px;
  }
}
@media (min-width: 1680px) {
  .container {
    max-width: 1440px;
  }
}

//New breakpoints for container classes
@media (max-width: 767px) {
  .container, .container-xs, .container-sm {
    max-width: 540px;
  }
}

@media (max-width: 1023px) {
  .container, .container-xs, .container-sm, .container-md {
    max-width: 720px;
  }
}

@media (max-width: 1409px) {
  .container, .container-xs, .container-sm, .container-md, .container-lg {
    max-width: 960px;
  }
}

@media (max-width: 1679px) {
  .container, .container-xs, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 1140px;
  }
}

//Replace old bootstrap greed breakpoints
@media (min-width: 576px) {
  .container, .container-sm {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container, .container-sm, .container-md {
    max-width: 720px;
  }
}

@media (min-width: 1024px) {
  .container, .container-sm, .container-md, .container-lg {
    max-width: 960px;
  }
}

@media (min-width: 1410px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 1140px;
  }
}
