@import "normalize";
@import "bootstrap-grid";
@import "modal";

//Fonts
/* open-sans-regular - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/open-sans-v17-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
  url('../assets/fonts/open-sans-v17-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../assets/fonts/open-sans-v17-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../assets/fonts/open-sans-v17-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
  url('../assets/fonts/open-sans-v17-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../assets/fonts/open-sans-v17-latin_cyrillic-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-600 - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../assets/fonts/open-sans-v17-latin_cyrillic-600.eot'); /* IE9 Compat Modes */
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
  url('../assets/fonts/open-sans-v17-latin_cyrillic-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../assets/fonts/open-sans-v17-latin_cyrillic-600.woff2') format('woff2'), /* Super Modern Browsers */
  url('../assets/fonts/open-sans-v17-latin_cyrillic-600.woff') format('woff'), /* Modern Browsers */
  url('../assets/fonts/open-sans-v17-latin_cyrillic-600.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../assets/fonts/open-sans-v17-latin_cyrillic-600.svg#OpenSans') format('svg'); /* Legacy iOS */
}

//IcoMoon fonts
@font-face {
  font-family: 'icomoon';
  src:  url('../assets/fonts/icomoon.eot?ufdarp');
  src:  url('../assets/fonts/icomoon.eot?ufdarp#iefix') format('embedded-opentype'),
  url('../assets/fonts/icomoon.ttf?ufdarp') format('truetype'),
  url('../assets/fonts/icomoon.woff?ufdarp') format('woff'),
  url('../assets/fonts/icomoon.svg?ufdarp#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  //speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-thin-right:before {
  content: "\e901";
}
.icon-arrow-down:before {
  content: "\e902";
}
.icon-close:before {
  content: "\e903";
}
.icon-menu:before {
  content: "\e900";
}
.icon-search:before {
  content: "\e986";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-linkedin2:before {
  content: "\eaca";
}


//Variables
$font-base: "Open Sans Regular", sans-serif;
$font-secondary: "Open Sans SemiBold", sans-serif;
$color-primary: #1f76b6;
$color-secondary: #395060;
$color-additional: #f2f9fc;

//Global
body {
  font-family: $font-base;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

p {
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

//.hide {
//  position: absolute;
//  left: -2000px;
//  opacity: 0;
//}

//___Header___
.header {
  background: white;
  position: fixed;
  left: 0;
  right: 0;
  box-shadow: 0 5px 20px rgba(57, 80, 96, 0.13);
  z-index: 20;
  top: 0;
}

.header__wrapper {
  margin: 0;
}

.static {
  position: static;
}

//Header__Logo
.logo {
  margin-top: 45px;
}

//Header__Navigation
.main-navigation {
  font-size: 16px;
  font-weight: 400;
  &> ul {
    padding: 0;
    margin: 0;
  }
}

.mobile-search {
  display: none;
}

.main-navigation__item {
  margin: 0 10px;
  box-sizing: border-box;
  //position: relative;

  &:hover {
    color: $color-primary;
    transition: .5s;
  }

  &:hover > .main-navigation__item__list {
    //display: flex;
    visibility: visible;
    transition: .5s;
    opacity: 1;
  }

  &:hover > button::after {
    display: block;
  }

  & > button {
    color: inherit;
    background: transparent;
    padding: 56px 0;
    display: block;
    border: none;
    outline: transparent;
    transition: .5s;
  }
}

.main-navigation__item__list {
  position: absolute;
  //display: none;
  visibility: hidden;
  display: flex;
  opacity: 0;
  left: 0;
  right: 0;
  justify-content: center;
  background: $color-additional;
  z-index: -1;
  box-shadow: 0 5px 20px rgba(57, 80, 96, 0.13) inset;
  transition: .5s;
}

.main-navigation__item__sub {
  margin-left: 20px;

  & > a {
    color: black;
    text-decoration: none;
    padding: 30px 0;
    display: block;
    transition: .5s;

    &:hover {
      color: $color-primary;
      transition: .5s;
    }
  }
}

//Header__Consultation
.contact-block > .row {
  margin: 0;
}

.consultation {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.64px;
  margin: 30px 0 0 auto;
}

.consultation > p {
  padding: 0;
  margin: 0;
}

.consultation > button {
  margin: 12px 0 0 0;
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  padding: 12px 30px;
  background: $color-secondary;
  color: white;
  border: none;
  transition: .5s;

  &:hover {
    background: #2c414f;
    transition: .5s;
  }
}

//Header__Search
.search {
  margin: 50px 0 0 30px;
  height: 31px;
  width: 31px;
  border-radius: 50%;
  background: #c5ced2;

  &:hover > .icon-search {
    color: $color-secondary;
    transition: .5s;
  }
}

.icon-search {
  margin-top: 7px;
  margin-left: 8px;
  color: white;
  transition: .5s;
}

.mobile-bars,
.mobile-bars__close {
  display: none;
}

//___Main___
//Main__Title
.prime {
  background: url("../assets/images/background-all.jpg") no-repeat center $color-primary;
  background-size: cover;
  color: white;
  margin-top: 130px;
  padding: 0 0 240px;
}

//Main__Title__Description
.prime__title {
  margin-top: 95px;

  & > p {
    font-size: 20px;
    font-weight: 400;
    margin: 50px 0 0 0;
    padding: 0;
  }

  & > h1 {
    padding: 0;
    margin: 0;
    font-size: 37px;
    font-weight: 700;
    line-height: 49.86px;
    max-width: 370px;
  }

  & > button {
    background-color: #1c81d9;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3.08px;
    padding: 15px 55px;
    border: none;
    color: white;
    margin-top: 90px;
    transition: .5s;

    &:hover {
      background: #126cbb;
      transition: .5s;
    }
  }
}

//Main__Title__Images
.prime__content {
  & .slick-dots {
    display: flex;
    margin: 30px 0 0;
    justify-content: center;
    & > .slick-active > button {
      background-color: #98d6ff;
    }
    & > li > button {
      display: block;
      font-size: 0;
      box-sizing: border-box;
      border: none;
      padding: 0;
      outline: transparent;
      height: 8px;
      width: 8px;
      margin-left: 11px;
      background: white;
      border-radius: 50%;
    }
  }
}
.prime__slider {
  margin-top: 145px;
  min-width: 0;
  overflow: hidden;
  & .slick-track {
    display: flex;
  }
  & .slick-list {
    overflow: hidden;
  }
}

.prime__slider__item {
  & > img {
    width: 100%;
    min-width: 0;
  }
}

.prime__slider__dots {
  display: none;
}

//Main__Advantages
.advantages {
  margin-top: -175px;
}

.advantages__items {
  padding: 80px 120px 85px;
  background: $color-additional;
}

.advantages__wrapper {
  background-color: $color-additional;
  position: absolute;
  top: -175px;
  z-index: 5;
  padding: 0 70px;
}

.advantages__image {
  text-align: center;
}

.advantages__separator {
  height: 2px;
  background-color: #dbeaf0;
  border: none;
  margin: 80px 0;
}

.advantages__description {
  padding: 0 35px;
}

.advantages__description > * {
  margin: 0;
  padding: 0;
}

.advantages__description > h3 {
  font-size: 24px;
  font-weight: 700;
}

.advantages__description > p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 28px 0 0 0;
}

//Main__Functions
.functions > h2 {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  margin-top: 75px;
}

.functions__item {
  border: 2px solid #eeeeee;
  margin-top: 30px;
  position: relative;
  transition: .5s;

  & > div {
    height: 375px;
    padding: 28px 35px;
  }

  &:hover {
    box-shadow: 0 0 52px 11px rgba(78, 132, 172, 0.19);
    transition: .5s;

    &::after {
      display: block;
    }
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border: 32px solid transparent;
    border-top: 32px solid #c9e8fb;
    border-left: 32px solid #c9e8fb;
    z-index: -1;
    left: 30px;
    top: 30px;
  }

  &::after {
    content: '';
    display: none;
    position: absolute;
    width: 0;
    height: 0;
    border: 23px solid transparent;
    border-top: 23px solid #eeeeee;
    border-left: 23px solid #eeeeee;
    z-index: -1;
    right: 0;
    bottom: 0;
  }

  & p {
    font-size: 24px;
    font-weight: 400;
    margin-top: 135px;
  }
}

//Main__Customers
.customers {
  padding-bottom: 95px;
  margin-top: 80px;
}

//Main__Customers__Slide
.customers__wrapper {
  padding: 0 80px;
  position: relative;
  & .slick-track {
    display: flex;
    justify-content: space-around;
  }
  & .slick-list {
    overflow: hidden;
  }
  & .slick-arrow {
    outline: transparent;
    margin-top: 20px;
    position: absolute;
    padding: 0;
    top: 50%;
    font-size: 0;
    width: 15px;
    height: 15px;
    border: 3px solid transparent;
    border-left: 3px solid white;
    border-top: 3px solid white;
    background: transparent;
    transition: .5s;
    opacity: .3;
    &:hover {
      transition: .5s;
      opacity: 1;
    }
  }
  & .slick-prev {
    left: 15px;
    transform: rotate(-45deg);
  }
  & .slick-next {
    right: 15px;
    transform: rotate(135deg);
  }
}

.customers__item {
  text-align: center;
}

.customers > h2 {
  color: #ffffff;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  padding: 50px 0 0 0;
  margin: 0;
}

.rosset {
  margin-top: 71px;
}

.rosatom {
  margin-top: 73px;
}

.fskees {
  margin-top: 63px;
}

.gasprom {
  margin-top: 52px;
}

.sibur {
  margin-top: 87px;
}

//Main__Capabilities
.capabilities {
  margin-top: 80px;
  margin-bottom: 90px;

  & > h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    margin: 0;
    padding: 0;
  }
}

.capabilities__items {
  margin: 65px auto 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1100px;
}

.capabilities__item {
  margin: 0 15px;
  padding: 10px 0;

  & > button {
    font-size: 18px;
    font-weight: 400;
    border: none;
    background: transparent;
    outline: transparent;
    padding: 0;
    transition: .5s;

    &:hover {
      color: $color-primary;
      transition: .5s;
    }
  }
}

.capabilities__item__active {
  border-bottom: 2px solid $color-primary;

  & > button {
    font-weight: 700;
  }
}

.capabilities__slider {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  position: relative;
  & .slick-track {
    display: flex;
  }
  & .slick-list {
    overflow: hidden;
  }
  & .slick-arrow {
    height: 40px;
    width: 40px;
    font-size: 0;
    padding: 0;
    border-radius: 0;
    border: 3px solid transparent;
    border-right: 3px solid $color-secondary;
    border-bottom: 3px solid $color-secondary;
    display: block;
    position: absolute;
    top: 50%;
    background: transparent;
    margin-top: -20px;
    z-index: 10;
    transition: .5s;
    &:hover {
      border-right: 3px solid $color-primary;
      border-bottom: 3px solid $color-primary;
      transition: .5s;
    }
  }
  .slick-prev {
    left: 8px;
    transform: rotate(135deg);
  }
  .slick-next {
    right: 8px;
    transform: rotate(-45deg);
  }
}

.capabilities__slider__item {
  & > img {
    display: block;
    margin: 0 auto;
  }
}
//Main__News
.news {
  padding: 95px 0 100px 0;
  background-color: #e0f2ff;
}

.news > h2 {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  margin: 0;
  padding: 0;
}

.news__wrapper {
  margin-top: 65px;
  color: white;
}

.news__item {
  margin-top: 35px;
  width: 267px;
  transition: 1.2s;
  position: relative;

  &:hover .news__item__description > h4 {
    font-size: 18px;
    max-width: 310px;
    transition: .5s;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    bottom: -1px;
    right: -1px;
    border: 20px solid transparent;
    border-right: 20px solid #e0f2ff;
    border-bottom: 20px solid #e0f2ff;
  }
}

.news__item__image {
  height: 240px;
  overflow: hidden;

  & > img {
    width: 100%;
    height: 240px;
    object-fit: cover;
    object-position: top;
  }
}

.news__item__description {
  background-color: $color-primary;
  height: 155px;
  padding: 20px 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.news__item__description > span {
  font-size: 14px;
  font-weight: 400;
  padding-left: 25px;
  position: relative;

  &::before {
    content: '';
    display: block;
    background: url("../assets/images/other-sprites.png") -155px -35px;
    width: 13px;
    height: 15px;
    position: absolute;
    left: 0;
    top: 0;
  }
}

.news__item__description h4 {
  font-size: 16px;
  font-weight: 400;
  font-family: $font-secondary;
  max-width: 220px;
  margin: 0;
}

//Main__Popup-window

.popup {
  background: rgba(0, 0, 0, .4);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
  background: url("../assets/images/popup-background.jpg");
  height: 100%;
  padding-top: 110px;

  .popup__title {
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    margin: 0;
  }
}

.popup__consultation__close {
  width: 75px;
  height: 75px;
  position: absolute;
  top: 54px;
  right: 58px;
  border: none;
  background: white;
  outline: transparent;

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 2px;
    display: block;
    background-color: $color-secondary;
    transform: rotate(45deg);
    top: 37px;
    left: 23px;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.popup__form {
  max-width: 570px;
  font-size: 18px;
  font-weight: 400;
}

.popup__form__field {
  width: 100%;
  border: none;
  background: transparent;
  border-bottom: 2px solid #9ba5ad;
  padding: 5px 0;
  margin-top: 45px;
  outline: transparent;
}

.popup__form textarea {
  height: 110px;
  resize: none;
}

.popup__form > div > img {
  display: block;
  margin: 35px auto 0;
}

.popup__form > button {
  margin: 30px auto 0;
  display: block;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3.08px;
  padding: 30px 0;
  width: 300px;
  border: none;
  background: $color-primary;
  color: white;
}

.popup-rights {
  margin-top: 40px;
  display: flex;
}

.popup-rights label {
  padding-left: 35px;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  position: relative;

  &::before {
    content: '';
    display: block;
    position: absolute;
    height: 17px;
    width: 17px;
    background: white;
    top: 0;
    left: 0;
    font-size: 22px;
    color: $color-primary;
  }
}

#popup-rights__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

#popup-rights__checkbox:checked + label::before {
  font-family: 'icomoon';
  content: '\ea10';
  font-size: 16px;
}

//___Footer___
//Footer__Top
.footer-top {
  background: $color-secondary;
  color: white;
  padding: 35px 0;

  & a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
  }
}

.footer-top__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-top__list-one > li,
.footer-top__list-two > li {
  margin-top: 20px;
}

.footer-top__list-one > li:first-child,
.footer-top__list-two > li:first-child {
  margin-top: 0;
}

.footer-top__list-one {
  margin-left: 110px;
}

.footer-top__list-two {
  margin-left: 110px;
  margin-right: auto;
}

.footer-top__social {
  margin-right: 70px;
}

.facebook__background,
.in__background {
  margin-left: 35px;
  display: inline-block;
  background-color: #93a3ad;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  transition: .5s;

  & > .icon-facebook,
  & > .icon-linkedin2 {
    margin: 8px 0 0 8px;
    font-size: 24px;
    color: $color-secondary;
  }

  & > .icon-linkedin2 {
    margin: 7px 0 0 10px;
  }

  &:hover {
    background-color: white;
    transition: .5s;
  }
}

.facebook__background div {
  margin: 11px 0 0 15px;
}

.footer-top__address {
  max-width: 245px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.footer-top__address > span {
  font-size: 24px;
  line-height: 18px;
  margin-top: 25px;
  display: inline-block;
}

//Footer__Bottom
.footer-bottom {
  background: #4b6170;
  color: #8a959c;;
}

.footer-bottom__items {
  display: flex;
  justify-content: space-between;
}

.footer-bottom__rights {
  font-size: 14px;
  font-weight: 400;
  padding: 35px 0;
}

.footer-bottom__logo {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;

  & > div {
    margin: 20px 8px 0 0;
    text-align: right;
  }
}

.footer-bottom__logo__created {
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0.5px;
  display: block;
}

.footer-bottom__logo__year {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.6px;
  display: block;
  margin-top: 4px;
}

//Sprites
//-Icons

.icon7, .icon5, .icon8, .icon4, .icon1,
.icon6, .icon9, .icon3, .icon2 {
  display: inline-block;
  background: url('../assets/images/icon-sprites.png') no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
  margin: 15px 0 0 15px;
}

.icon7 {
  background-position: -1px -0px;
  width: 107px;
  height: 75px;
}

.icon5 {
  background-position: -1px -76px;
  width: 97px;
  height: 89px;
}

.icon8 {
  background-position: -1px -166px;
  width: 89px;
  height: 95px;
}

.icon4 {
  background-position: -1px -262px;
  width: 76px;
  height: 89px;
}

.icon1 {
  background-position: -1px -352px;
  width: 75px;
  height: 83px;
}

.icon6 {
  background-position: -1px -436px;
  width: 74px;
  height: 78px;
}

.icon9 {
  background-position: -1px -515px;
  width: 73px;
  height: 79px;
}

.icon3 {
  background-position: -1px -595px;
  width: 70px;
  height: 70px;
}

.icon2 {
  background-position: -1px -666px;
  width: 66px;
  height: 84px;
}

////-Customers
.customers {
  background: $color-primary;
}

.customer3, .customer1, .customer5, .customer2, .customer4 {
  display: inline-block;
  background: url('../assets/images/customers-sprites.png') no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
}

.customer3 {
  background-position: -1px -0px;
  width: 176px;
  height: 68px;
}

.customer1 {
  background-position: -1px -69px;
  width: 146px;
  height: 46px;
}

.customer5 {
  background-position: -1px -116px;
  width: 130px;
  height: 25px;
}

.customer2 {
  background-position: -1px -142px;
  width: 126px;
  height: 45px;
}

.customer4 {
  background-position: -1px -188px;
  width: 123px;
  height: 60px;
}

////-Other

.logo-2015, .documino-logo2, .magnifier-hover, .magnifier,
.calendar {
  display: inline-block;
  background: url('../assets/images/other-sprites.png') no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
}

.logo-2015 {
  background-position: -1px -35px;
  width: 55px;
  height: 53px;
}

.documino-logo2 {
  background-position: -57px -35px;
  width: 33px;
  height: 34px;
}

//-Desktops
.desk1, .desk2, .desk3 {
  display: inline-block;
  background: url('../assets/images/desks-sprites.png') no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
}

.desk1 {
  background-position: -1px -0px;
  width: 298px;
  height: 166px;
}

.desk2 {
  background-position: -1px -167px;
  width: 298px;
  height: 166px;
}

.desk3 {
  background-position: -1px -334px;
  width: 298px;
  height: 165px;
}

//Smartphone @media (max-width: 767px)
@media (max-width: 767px) {
  //Header
  .header {
    position: static;
    flex-direction: column;
    overflow: hidden;
  }

  .logo__wrapper {
    padding: 0 5px 35px 5px;
    width: 100%;
    order: -2;
  }

  .logo {
    display: flex;
    justify-content: space-between;
  }

  .main-navigation {
    display: none;
    width: 100%;
    & > ul {
      flex-direction: column;
    }
  }

  .mobile-search {
    display: block;
    position: relative;
    display: flex;
    justify-content: space-between;
    &::before {
      content: '';
      position: absolute;
      display: block;
      left: -15px;
      right: -15px;
      top: 0;
      height: 2px;
      background: #e0e8ec;
    }
  }

  .mobile-search__input {
    outline: transparent;
    border: none;
    padding: 10px;
    margin-top: 15px;
  }

  .mobile-search__button {
    background: #c5ced2;
    height: 31px;
    width: 31px;
    border: none;
    border-radius: 50%;
    margin: 20px 0;
    & > span {
      margin: 0;
    }
  }

  .main-navigation__item {
    position: relative;
    & > button {
      padding: 20px 0;
      width: 100%;
      text-align: left;
    }
    &::after,
    .main-navigation__item__active::after {
      display: block;
      font-family: 'icomoon';
      content: '\e901';
      width: 25px;
      height: 25px;
      position: absolute;
      right: 0;
      top: 20px;
      text-align: right;
    }
    &:nth-child(3)::after,
    &:nth-child(4)::after,
    &:nth-child(5)::after,
    &:nth-child(6)::after,
    &:nth-child(7)::after {
      display: none;
    }
  }

  .main-navigation__item__active {
    &::after {
      content: '\e902';
    }
  }

  .main-navigation__item__list {
    display: none;
    visibility: visible;
    flex-direction: column;
    opacity: 1;
    position: static;
    padding: 12px 0;
    margin: 0 -26px;
    box-shadow: none;
    background-color: #e0f2ff;
  }

  .main-navigation__item__sub {
    margin-left: 26px;
    & > a {
      padding: 12px 0;
    }
  }

  .contact-block {
    display: none;
    order: -1;
    width: 100%;
  }

  .consultation {
    margin: 0 -15px;
    width: 115%;
    & > p {
      letter-spacing: -1px;
      text-align: center;
    }
    & > button {
      width: 100%;
      padding: 20px 0;
    }
  }

  .search {
    display: none;
  }

  .mobile-bars,
  .mobile-bars__close {
    display: block;
    font-size: 28px;
  }

  .mobile-bars__close {
    display: none;
  }
  //Main__Title
  .prime {
    margin: 0;
    padding: 0;
    height: auto;
    background-position: left;
  }
  .prime__content {
    flex-direction: column-reverse;
  }
  .prime__title {
    margin-top: 35px;

    & > h1 {
      font-size: 22px;
      font-weight: 700;
      line-height: 29.73px;
    }

    & > p {
      font-size: 14px;
      font-weight: 400;
      line-height: 0.01px;
    }

    & > button {
      margin-top: 50px;
      font-size: 8px;
      letter-spacing: 3.08px;
    }
  }
  //Main__Title__Slider
  .prime__content {
    & .prime__slider__dots {
      display: block;
      margin-bottom: 50px;
    }
  }
  .prime__slider {
    padding-right: 15px;
    margin-top: 73px;
  }

  //Main__Advantages
  .advantages {
    background: $color-additional;
    margin-top: 0;
    padding-bottom: 60px;
  }
  .advantages__items {
    overflow: hidden;
    padding: 0;
    margin-top: 70px;

    & > div {
      &:nth-child(3) {
        flex-direction: column-reverse;
      }
    }
  }

  .advantages__description {
    padding: 0 20px;

    & > h3 {
      font-size: 24px;
      font-weight: 700;
      color: #435160;
      margin-top: 40px;
    }

    & > p {
      font-size: 16px;
      font-weight: 400;
      margin-top: 20px;
    }
  }
  //Main__Functions
  .functions {
    & > h2 {
      font-size: 26px;
      font-weight: 700;
      margin-top: 45px;
    }
  }
  .functions__wrapper {
    margin-top: 85px;
  }
  //Main__Customers
  .customers {
    margin-top: 60px;
  }

  .customers__wrapper {
    padding: 0 10px;
    & .slick-arrow {
      margin-top: 10px;
    }
  }

  .rosset,
  .rosatom,
  .fskees,
  .gasprom {
    display: none;
  }
  .rosset {
    margin-top: 50px;
  }
  .rosatom {
    margin-top: 52px;
  }
  .fskees {
    margin-top: 42px;
  }
  .gasprom {
    margin-top: 31px;
  }
  .sibur {
    margin-top: 66px;
  }
  //Main__Capabilities
  .capabilities {
    margin: 55px 0 0;

    & > h2 {
      font-size: 26px;
      font-weight: 700;
    }
  }
  .capabilities__items {
    display: none;
  }
  .capabilities__slider {
    flex-wrap: wrap;
    justify-content: center;
    & .slick-list {
      order: -1;
    }
    & .slick-arrow {
      position: static;
      height: 25px;
      width: 25px;
    }
    & .slick-prev {
      margin: 35px 20px 70px 0;
    }
    & .slick-next {
      margin: 35px 0 70px 20px;
    }
  }

  .capabilities__slider__item {
    & > img {
      width: 100%;
    }
  }

  //Main__News
  .news {
    overflow: hidden;
    padding: 40px 0 65px 0;

    & > h2 {
      font-size: 26px;
      font-weight: 700;
    }

    & > div {
      margin-top: 40px;
    }
  }
  .news__wrapper {
    margin-top: 0;
  }
  .news__item {
    margin-top: 25px;
    width: 100%;

    &:nth-child(odd) {
      display: none;
    }
  }
  //Popup form
  .popup {
    width: 100%;
    height: 100%;
    padding: 10px;
    & .popup__title {
      font-size: 18px;
      text-align: left;
    }
  }

  .popup__form__field {
    padding: 0;
    margin: 16px 0 0;
    font-size: 14px;
  }

  .popup__form {
    & textarea {
      height: 60px;
    }
    & > div > img {
      margin-top: 10px;
    }
    & > button {
      margin-top: 10px;
      padding: 10px 0;
    }
  }

  .popup-rights {
    //padding: 0 5px;
    margin-top: 10px;
    & > label {
      font-size: 10px;
      line-height: 16px;
      padding-left: 25px;
    }
  }

  .popup__consultation__close {
    top: 10px;
    right: 10px;
    height: 25px;
    width: 25px;
    &::before,
    &::after {
      top: 12px;
      left: -2px;
    }
  }

  //Footer
  .footer-top {
    padding-bottom: 55px;
  }
  .footer-top__map {
    width: 100%;
  }
  .footer-top__list-one,
  .footer-top__list-two {
    width: 50%;
    margin: 50px 0;
  }
  .footer-top__social {
    order: 5;
    margin-top: 45px;

    & > a:first-child {
      margin-left: 0;
    }
  }
  .footer-top__address {
    margin-right: 15px;
  }
  .footer-bottom {
    height: 190px;
  }
  .footer-bottom__items {
    display: none;
  }
}
